- 
  let navMenu = [
    "Главная", "Услуги", "О компании", "Акции", "Партнеры", "Отзывы", "Контакты"
  ];
  plansFigures = [
    {title: "Тур на велосипедах", img: "img/svg/cycle.svg", alt: "SVG иконка с изображением человека сидящего на велосипеде",price: "999 руб.",description: "Наверняка у вас много сильных сторон и уникальных товаров, которые отличают вас от других."},
    {title: "Экскурсия на остров", img: "img/svg/dot.svg", alt: "SVG иконка с изображением точки стоящей по центру, вокруг которой обведен штрихом круг", featured: true, price: "1270 руб.",description: "Или, например, вы делаете акции со скидками в честь дня рождения вашего клиента."},
    {title: "Индивидуальный заказ", img: "img/svg/message.svg", alt: "SVG иконка с изображением диалогового окна, в котором находится человек", featured: true, price: "750 руб.",description: "Обычно достаточно трех-четырех пунктов о ваших ключевых особенностях. Напишите об этом!"}
  ]
  offerFigures = [
    {title: "Прыжки с трамплина", featured: true, icon: "img/svg/jump.svg", img: "img/skyjumping.png", alt: "Девушка в купальнике, стоит спиной к зрителю на фоне голубого чистого моря в ясную погоду", price: "160 руб.", description: "Обычно достаточно трех-четырех пунктов о ваших ключевых особенностях. Напишите об этом!,"},
    {title: "Прокат велосипедов", featured: true, icon: "img/svg/cycle-white.svg", img: "img/cycling.png", alt: "Девушка едет на велосипеде в жаркую, солнечную погоду", price: "999 руб.", description: "Наверняка у вас много сильных сторон и уникальных товаров, которые отличают вас от других."},
    {title: "Поездка на безлюдный остров", featured: false, icon: "img/svg/boat.svg", img: "img/cruise.png", alt: "Небольшой корабль плывет по морю на фоне безлюдного острова" ,price: "1270 руб.", description: "Или, например, вы делаете акции со скидками в честь дня рождения вашего клиента. Может у вас есть супердоставка?"},
    {title: "Катание на серфинге", featured: true, icon: "img/svg/surfing.svg", img: "img/surfing.png", alt: "Девушка стоит с доском для сёрфинга в руке на пляже на фоне заката", price: "750 руб.", description: "Обычно достаточно трех-четырех пунктов о ваших ключевых особенностях. Напишите об этом!"}
  ]
  documents = [
    {title: "График работы отелей.xls", bg: "house", fileSize: "10Mb", description: "Полный перечень наших товаров и услуг. Разместите тут краткое описание ваших спецпредложений, товаров или услуг."},
    {title: "График одноразового питания.xls", bg: "city-view", fileSize: "10Mb", description: "Полный перечень наших товаров и услуг. Разместите тут краткое описание ваших спецпредложений, товаров или услуг."}
  ]