a.figure-link(href="#")
.figure-icon
  img(src= figure.img, alt= figure.alt)
figcaption
  h4.figure-title= figure.title
  p.figure-price= figure.price
    sup *
  p.figure-description= figure.description